
<!DOCTYPE html>
<html>
  <title>Shape</title>
  <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/css/businessProfile.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <style></style>
  <body>
  <!-- SIDEBAR -->
  <%- include('../partials/sidebar') %>
  <%- include('../partials/navbar') %>
  <section id="content">
  <!-- MAIN -->
    <main>
        <!-- Page Container -->
        <div class="w3-content w3-margin-top" style="max-width: 1500px">
          <!-- The Grid -->
          <div class="w3-row-padding">
            <!-- Left Column -->
            <div class="w3-third">
              <div class="w3-white w3-text-grey w3-card-4">
                <div class="container">
                  
                  <h2 id="name" ><%= user.businessName %></h2>
                </div>
                <div class="w3-container">
                  <p id="fullName">
                    <i class="fa fa-user-o fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <%= user.fullName %>
                  </p>
                  <p id="specialty">
                    <i class="fa fa-certificate fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <%= user.specialty%>
                  </p>
                  <p id="city">
                    <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <%= user.city %>
                  </p>
                  <p id="phone">
                    <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <%= user.phone %>
                  </p>
                  <p id="email">
                    <i class="fa fa-envelope-o fa-fw w3-margin-right w3-large w3-text-teal"></i>
                    <%= user.email %>
                  </p>
                  <hr />

                  <p class="w3-large">
                    <b
                      ><i
                        class="fa fa-calendar-check-o fa-fw w3-margin-right w3-text-teal"
                      ></i
                      >Schedule</b
                    >
                  </p>
                  <div class="w3-white">
                    <button class="w3-button w3-teal w3-round-xlarge" id="schedule-bt" onclick="location.href='/calendar'" > Schedule</button>
                  </div>

                  <br />
                  <hr />
                  <p class="w3-large w3-text-theme">
                    <b
                      ><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i
                      >Languages</b
                    >
                  </p>
                  <p id="hebrew-t">Hebrew</p>
                  <div class="w3-light-grey w3-round-xlarge" id="hebrew">
                    <div
                      class="w3-round-xlarge w3-teal" id="hebrew-w"
                    ></div>
                  </div>
                  <p id="english-t">English</p>
                  <div class="w3-light-grey w3-round-xlarge" id="english">
                    <div
                      class="w3-round-xlarge w3-teal" id="english-w"
                    ></div>
                  </div>
                  <p id="russian-t">Russian</p>
                  <div class="w3-light-grey w3-round-xlarge" id="russian">
                    <div
                      class="w3-round-xlarge w3-teal" id="russian-w"
                    ></div>
                  </div>
                  <p id="spanish-t">Spanish</p>
                  <div class="w3-light-grey w3-round-xlarge" id="spanish">
                    <div
                      class="w3-round-xlarge w3-teal" id="spanish-w"
                    ></div>
                  </div>
                  <p id="arabic-t">Arabic</p>
                  <div class="w3-light-grey w3-round-xlarge" id="arabic">
                    <div
                      class="w3-round-xlarge w3-teal" id="arabic-w"
                    ></div>
                  </div>
                  <br />
                  <hr />

                  <p class="w3-large">
                    <b
                      ><i
                        class="fa fa-pencil fa-fw w3-margin-right w3-text-teal"
                      ></i
                      >Settings</b
                    >
                  </p>
                  <div class="w3-white w3-row-padding" id="Settings">
                    <button class="w3-button w3-teal w3-round-xlarge" id="edit-profile-bt" onclick="location.href='/editBusinessProfile'"> Edit profile</button>
                    <button class="w3-button w3-teal w3-round-xlarge" id="edit-training-bt"  onclick="location.href='/editTrainingTypes'"> Edit training types</button>


                  </div>

                  <br />
                </div>
              </div>
              <br />

              <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">
              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16">
                  <i
                    class="fa fa-info fa-fw w3-margin-right w3-xxlarge w3-text-teal"
                  ></i
                  >About us
                </h2>
                <div class="w3-container">
                  <h5 class="w3-opacity">
                    <b></b>
                    <%= user.about %>
                    </b>
                  </h5>
                  <hr />
                </div>
                <div class="w3-container">
                  <!-- <h5 class="w3-opacity id="training-types"><b>Training types </b></h5>
                  <p>
                    <ul class="fa-ul">
                      <li><i class="fa-li fa fa-check w3-text-teal"></i></li>
                      <li><i class="fa-li fa fa-check w3-text-teal"></i></li>
                      <li><i class="fa-li fa fa-check w3-text-teal"></i></li>
                      <li><i class="fa-li fa fa-check w3-text-teal"></i></li>
                    </ul>
                  </p> -->
                </div>
                <br />
              </div>

              <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16">
                  <i
                    class="fa fa-graduation-cap  fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
                  Certification
                </h2>
                <div class="w3-container">
                  <h5 class="w3-opacity">
                    <b>Certification school: </br></h5>

                  
                  <h6 class="w3-text-teal">
                    <i class="fa fa-calendar fa-fw w3-margin-right"></i><%= user.schoolDate%></br></h6>
                    <p style="color:rgb(73, 73, 73);text-decoration: underline;">
                      school Name:
                    </p> 
                    <p style="color:rgb(73, 73, 73);">
                      <%= user.schoolName%>
                    </p> </br>
                    <p style="color:rgb(73, 73, 73);text-decoration: underline;">
                      Certification Info:
                    </p> 
                    <p style="color:rgb(73, 73, 73);">
                      <%= user.schoolInfo%>
                    </p> 
                  

                  <hr />
                </div>
              </div>

              <!-- End Right Column -->
            </div>

            <!-- End Grid -->
          </div>

          <!-- End Page Container -->
        </div>

      </div>
  </main>
</section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
if('<%= user.hebrew %>' != '0')
      {
        var hebrewV='<%= user.hebrew %>'+'%';
        document.getElementById('hebrew-w').style.width=hebrewV;
      }
      else
      {
        document.getElementById('hebrew').style.display='none';
        document.getElementById('hebrew-t').style.display='none';
      }
      if('<%= user.english %>' != '0')
      {
        var englishV='<%= user.english %>'+'%';
      document.getElementById('english-w').style.width=englishV;
      }
      else{
        document.getElementById('english').style.display='none';
        document.getElementById('english-t').style.display='none';
      }
      if('<%= user.spanish %>' != '0')
      {
        var spanishV='<%= user.spanish %>'+'%';
      document.getElementById('spanish-w').style.width=spanishV;
      }
      else{
        document.getElementById('spanish').style.display='none';
        document.getElementById('spanish-t').style.display='none';
      }
      if('<%= user.russian %>' != '0')
      {
        var russianV='<%= user.russian %>'+'%';
      document.getElementById('russian-w').style.width=russianV;
      }
      else
      {
        document.getElementById('russian').style.display='none';
        document.getElementById('russian-t').style.display='none';
      }
      if('<%= user.arabic %>' != '0')
      {
        var arabicV='<%= user.arabic %>'+'%';
      document.getElementById('arabic-w').style.width=arabicV;
      }
      else{
        document.getElementById('arabic').style.display='none';
        document.getElementById('arabic-t').style.display='none';
      }


  </script>
</html>



















