<!DOCTYPE html>
<html>
  <title>Shape</title>
  <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/css/personalProfile.css" />

  <body>
    <% if(userType == "trainee" ) { %> <%- include('../partials/traineeSidebar')
    %> <% } %> <% if(userType == "trainer" ) { %> <%-
    include('../partials/sidebar') %> <% } %>
    <section id="content">
      <%- include('../partials/navbar') %>
      <div class="container">
        <!-- popup window for change password -->
        <!-- <div class="profile-details"> -->
        <!-- </div> -->
        <div class="avatar-flip">
          <img
            src="/assets/you_can.jpg"
            height="150"
            width="150"
            style="cursor: zoom-in"
            id="pic1"
          />
          <img
            src="/assets/you_can.jpg"
            height="150"
            width="150"
            style="cursor: zoom-in"
            id="pic2"
          />
        </div>

        <h2>Edit Personal Profile</h2>
        <div class="btn-group">
          <button
            type="button"
            id="change-pass-btn"
            onclick="openPasswordForm()"
          >
            change password
          </button>
        </div>

        <div class="btn-group">
          <button
            type="button"
            id="Edit-profile-bt"
            onclick="location.href='/deleteAccount'"
          >
            Delete Account
          </button>
        </div>
        <div class="profile-details">
          <label
            id="errorMsg"
            style="font-size: 16px; color: red"
            hidden
          ></label>
          <form
            class="form-container"
            id="change-pass-form"
            style="display: none"
            action="/editPassword"
            method="POST"
            onsubmit="return validateEditPasswordForm()"
          >
            <div class="input-box">
              <label for="password">password</label>
              <input
                type="password"
                id="paasword"
                name="currPassword"
                placeholder="Enter current password"
              />
            </div>
            <div class="input-box">
              <label for="new-password" style="padding-right: 10px"
                >new password</label
              >
              <input
                type="password"
                id="new-password"
                name="newPassword"
                placeholder="Enter new password"
                style="padding-right: 10px"
              />
            </div>
            <div class="input-box">
              <label for="new-password" style="padding-right: 10px"
                >confirm password</label
              >
              <input
                type="password"
                id="confirm-new-password"
                placeholder="confirm your new password"
                style="padding-right: 10px"
              />
            </div>
            <div class="btn-group">
              <button
                type="submit"
                id="change-btn"
                onclick="validatePasswordForm()"
              >
                change password
              </button>
              <button type="button" onclick="closePasswordForm()">
                Cancel
              </button>
            </div>
          </form>
          <form
            class="profile"
            id="profile-form"
            action="/editPersonalprofile"
            method="POST"
            onsubmit="return validateEditForm()"
          >
            <div class="input-box">
              <label for="fullName">FullName</label>
              <input
                type="text"
                id="fullName"
                name="fullName"
                value="<%= user.fullName %>"
                required
              />
            </div>
            <div class="input-box">
              <label for="email" style="padding-right: 10px">Email </label>
              <input
                type="email"
                id="email"
                name="email"
                value="<%= user.email %>"
                style="padding-right: 10px"
                required
              />
            </div>
            <div class="input-box">
              <label for="Gender">Gender</label>
              <select
                id="genderTraineeInput"
                name="gender"
                value="<%= user.gender %>"
              >
                <option value="male">male</option>
                <option value="female">female</option>
                <option value="other">other</option>
              </select>
            </div>
            <div class="input-box button">
              <input type="submit" id="save-btn" value="Save" />
            </div>
          </form>
        </div>
      </div>
    </section>
    <script>
      errorMsg.style.display = "none";
      function openPasswordForm() {
        document.getElementById("profile-form").style.display = "none";
        document.getElementById("change-pass-form").style.display = "block";
        document.getElementById("change-pass-btn").style.display = "none";
        document.getElementById("change-pass-btn").style.marginLeft = "480px";

        document;
      }
      function closePasswordForm() {
        document.getElementById("change-pass-form").style.display = "none";
        document.getElementById("profile-form").style.display = "block";
        document.getElementById("change-pass-btn").style.display = "block";
      }
      function validateEditPasswordForm() {
        var password = document.getElementById("new-password").value;
        var passwordRepeat = document.getElementById(
          "confirm-new-password"
        ).value;
        if (password.length < 8) {
          errorMsg.innerHTML =
            "Your password must include atleast 8 characters";
          errorMsg.style.display = "block";
          return false;
        }
        if (password != passwordRepeat) {
          errorMsg.innerHTML = "please confirm your password";
          errorMsg.style.display = "block";
          return false;
        }
        console.log("good password");
        return true;
      }
      var editStatus = true;
      console.log("<%= status %>");
      if ("<%= status %>" == "false") {
        errorMsg.innerHTML =
          "This email is already exists or password not match";
        errorMsg.style.display = "block";
        editStatus = false;
      }
      function onlyLetters(str) {
        return /^[a-zA-Z]+$/.test(str);
      }
      function validateEditForm() {
        var fullName = document.getElementById("fullName").value;
        var email = document.getElementById("email").value;

        if (!ValidateEmail(email)) {
          console.log("!ValidateEmail");
          errorMsg.innerHTML = "You have entered an invalid email address!";
          errorMsg.style.display = "block";
          return false;
        }
        if (!onlyLetters(fullName)) {
          errorMsg.innerHTML = "You have entered an invalid full name!";
          errorMsg.style.display = "block";
          return false;
        }

        
        return true;
      }
      function ValidateEmail(email) {
        return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email);
      }
    </script>
  </body>
</html>
