<!DOCTYPE html>
<html lang="en">

<head>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Product Filter And Search</title>
      
      <!-- Stylesheet -->
      <link href="/css/findTrainer.css" rel="stylesheet">

      <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
      <link rel="icon" type="image/png" href="../assets/img/favicon.png">
       
    </head>
    <body>
      <%- include('../partials/traineesidebar') %>
     
      <section id="content">
        <%- include('../partials/navbar') %>
 
      <div class="wrapper">
        <form id="myForm" action="searchTrainer" method="POST">
        <div id="search-container">
          
          <input type="text"  name="traineeInput" id="traineeInput" placeholder="Search training  here.."/>
          <button type ="submit" id="search">Search</button>
       
        <select class="filter" id="filterInput" name="filterInput" onChange= "update()">
          <option value="fullName">trainer name</option>
          <option value="businessName">business name</option>
          <option value="speciality">speciality</option>
          <option value="city">location</option>
        </select>
      </div>
      </form>
        
        <div class="container">
          <% if(typeof trainers != "undefined" ) { %>

          <% trainers.forEach(trainer => { %>
          <div class="trainer-profile">
                <div class="trainer-info">
                  
                  <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; <%= trainer.fullName %></li>
                    <li class="list-item"><strong class="text-dark">BusinessName:</strong> &nbsp; <%= trainer.businessName %></li>
                    <li class="list-item"><strong class="text-dark">Mobile:</strong> &nbsp; <%= trainer.phone %></li>
                    <li class="list-item"><strong class="text-dark">Email:</strong> &nbsp; <%= trainer.email %></li>
                    <li class="list-item"><strong class="text-dark">Location:</strong> &nbsp; <%= trainer.city %></li>
                    <li class="list-item"><strong class="text-dark">Specialty:</strong> &nbsp; <%= trainer.specialty %></li>
                    <div class="more-info-row">
                      <h6 class="more-info">more Information</h6>
                      &nbsp; <%= trainer.about %>
                    </div>
                  </ul>
              <!-- <button class="btn">Book </button> -->
            </div>
          </div>
          <% }); %>
          <% } %> 

        </div>
        
      </div>
    </section> 
      <script>
        update();
       function update() {
				var select = document.getElementById("filterInput");
				var option = select.options[select.selectedIndex];
				var value  = option.value;
        console.log("value:"+value);
			}
       
      
        


        
      </script> 
    </body>
 </html>
 
 
 
 
