<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>Shape</title>
    <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.ico" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="./css/theme.min.css" />

    <link rel="stylesheet" href="./css/vendor.min.css" />
    
    <!-- CSS Front Template -->
    <script
      src="https://kit.fontawesome.com/3533a4f1e6.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="footer-offset">
    <%- include('../partials/traineesidebar') %>

    <section id="content">
      <%- include('../partials/navbar') %>
      <div class="content container-fluid">
        <div class="row justify-content-lg-center">
          <div class="col-lg-10">
            <!-- Profile Cover -->
            <div class="profile-cover">
              <div class="profile-cover-img-wrapper">
                <img
                  class="profile-cover-img"
                  src="./assets/believe-you-can.jpg"
                  alt="Image Description"
                />
              </div>
            </div>

            <!-- Profile Header -->
            <div class="text-center mb-5">
              <div
                class="avatar avatar-xxl avatar-circle avatar-border-lg profile-cover-avatar"
              >
                <img
                  class="avatar-img"
                  src="./assets/user1.png"
                  alt="Image Description"
                />
                <span class="avatar-status avatar-status-success"></span>
              </div>
              <h1 class="page-header-title"><%= user.fullName %></h1>
            </div>

            <!-- Filter -->
            <div class="row align-items-center mb-5">
              <div class="col">
                <!-- <h3 class="mb-0">Find a Trainer</h3> -->
              </div>
              <div class="col-auto">
                <!-- Nav -->
                <ul class="nav nav-segment" id="connectionsTab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="grid-tab"
                      data-toggle="tab"
                      onClick="displayGrid()"
                      role="tab"
                      aria-controls="grid"
                      aria-selected="true"
                      title="Column view"
                    >
                      <i class="fa-solid fa-list-ul"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="list-tab"
                      data-toggle="tab"
                      onClick="displayList()"
                      role="tab"
                      aria-controls="list"
                      aria-selected="false"
                      title="List view"
                    >
                      <i class="fa-solid fa-list-ul"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Nav -->
              </div>
            </div>
            <div class="wrapper">
              <form id="myForm" action="searchTrainer" method="POST">
                <div id="search-container">
                  <input
                    type="text"
                    name="traineeInput"
                    id="traineeInput"
                    placeholder="Search training  here.."
                  />
                  <button
                    type="submit"
                    id="search"
                    class="btn btn-soft-primary"
                  >
                    Search
                  </button>

                  <select
                    class="filter"
                    id="filterInput"
                    name="filterInput"
                    onChange="update()"
                  >
                    <option value="fullName">trainer name</option>
                    <option value="businessName">business name</option>
                    <option value="speciality">speciality</option>
                    <option value="city">location</option>
                  </select>
                </div>
              </form>

              <div class="row align-items-center mb-5">
                <div class="col-auto">
                  <!-- search form -->
                  <div class="tab-content" id="connectionsTabContent">
                    <div class="tab-content" id="connectionsTabContent">
                      <div
                        class="tab-pane fade active show"
                        id="list"
                        role="tabpanel"
                        aria-labelledby="list-tab"
                      >
                        <div class="row row-cols-1">
                          <% if(typeof trainers !="undefined" ) { %> <%
                          trainers.forEach(trainer=> { %>
                          <div class="col mb-3">
                            <form action="/selectTrainer" method="POST">
                              <input
                                type="text"
                                value="<%= trainer.email %>"
                                name="email"
                                hidden
                              />
                              <!-- Card -->
                              <div class="card card-body">
                                <div class="media align-items-md-center">
                                  <!-- Avatar -->
                                  <div
                                    class="avatar avatar-lg avatar-circle avatar-border-lg mr-3"
                                  >
                                    <img
                                      class="avatar-img"
                                      src="./assets/user1.png"
                                      alt="Image Description"
                                    />
                                    <span
                                      class="avatar-status avatar-sm-status avatar-status-success"
                                    ></span>
                                  </div>
                                  <!-- End Avatar -->
                                  <div class="media-body">
                                    <div class="row align-items-md-center">
                                      <div
                                        class="col-9 col-md-4 col-lg-3 mb-2 mb-md-0"
                                      >
                                        <h4 class="mb-1">
                                          <a class="text-dark">
                                            <%= trainer.businessName %>
                                          </a>
                                        </h4>
                                        <li class="list-item">
                                          <strong class="text-dark"
                                            >Name:</strong
                                          >
                                          &nbsp; <%= trainer.fullName %>
                                        </li>
                                        <li class="list-item">
                                          <strong class="text-dark"
                                            >Mobile:</strong
                                          >
                                          &nbsp; <%= trainer.phone %>
                                        </li>
                                        <li class="list-item">
                                          <strong class="text-dark"
                                            >Email:</strong
                                          >
                                          &nbsp; <%= trainer.email %>
                                        </li>
                                        <li class="list-item">
                                          <strong class="text-dark"
                                            >Location:</strong
                                          >
                                          &nbsp; <%= trainer.city %>
                                        </li>
                                        <li class="list-item">
                                          <strong class="text-dark"
                                            >Specialty:</strong
                                          >
                                          &nbsp; <%= trainer.specialty %>
                                        </li>
                                      </div>
                                      <div class="col-sm mb-3 mb-sm-0">
                                        <div class="mb-4">
                                          <li class="list-item">
                                            <strong class="text-dark"
                                              >about me:</strong
                                            >
                                          </li>
                                          &nbsp; <%= trainer.about %>
                                        </div>
                                      </div>

                                      <div class="col-sm-auto">
                                        <button class="btn" type="submit" style="background-color: aliceblue;">
                                          Book
                                        </button>
                                      </div>
                                    </div>
                                    <!-- End Row -->
                                  </div>
                                </div>
                              </div>
                              <!-- End Card -->
                            </form>
                            <form action="/viewTrainer" method="POST">
                              <input
                                type="text"
                                value="<%= trainer.email %>"
                                name="email"
                                hidden
                              />
                            <button
                              class="btn"
                              type="submit"
                              style="background-color: aliceblue; "
                            >
                              Buisness Profile
                            </button>
                          </form>
                          </div>
                          <% }); %> <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Tab Content -->
          </div>
        </div>
      </div>
    </section>

    <script>
      update();

      function update() {
        var select = document.getElementById("filterInput");
        var option = select.options[select.selectedIndex];
        var value = option.value;
      }
    </script>
  </body>
</html>
