<!DOCTYPE html>
<html>
  <title>Shape</title>
  <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/css/personalProfile.css" />

  <body>
    <% if(userType == "trainee" ) { %>
      <%- include('../partials/traineeSidebar') %>
      <% } %>
      <%  if(userType == "trainer" ) { %>
        <%- include('../partials/sidebar') %>
        <% } %>

      
    <section id="content">
      <%- include('../partials/navbar') %>
      <div class="container">
        <div class="avatar-flip">
          <img
            src="/assets/you_can.jpg"
            height="150"
            width="150"
            style="cursor: zoom-in"
            id="pic1"
          />
          <img
            src="/assets/you_can.jpg"
            height="150"
            width="150"
            style="cursor: zoom-in"
            id="pic2"
          />
        </div>
        <!-- <h2>Bar Sela</h2> -->
        <h2>Personal Profile</h2>
        <div class="btn-group">
          <button type="button" id="Edit-profile-bt" onclick="editProfile()">
            Edit Profile
          </button>
        </div>
        <div class="profile-details">
          <form class="profile" id="profile-form">
            <div class="input-box">
              <label for="fullName">FullName</label>
              <input
                type="text"
                id="fullName"
                name="fullName"
                placeholder="<%= user.fullName %>"
                readonly
              />
            </div>
            <div class="input-box">
              <label for="email" style="padding-right: 10px">Email </label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="<%= user.email %>"
                style="padding-right: 10px"
                readonly
              />
            </div>
            <div class="input-box">
              <label for="gender" style="padding-right: 10px">Gender </label>
              <input
                type="gender"
                id="email"
                name="gender"
                placeholder="<%= user.gender %>"
                style="padding-right: 10px"
                readonly
              />
            </div>
            <div class="input-box">
              <label for="registration">registration date</label>
              <input type="text" id="email" name="registration date"
              placeholder="<%= info.Date_of_Registretion %>"" readonly />
            </div>
          </form>
        </div>
      </div>
    </section>
    <script>
      function editProfile() {
        window.location.href = "/editPersonalProfile";
      }
    </script>
  </body>
</html>
