<!DOCTYPE html>
<html>
  <title>Shape</title>
  <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://www.jsdelivr.com/package/npm/chart.js?path=dist"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/css/personalProfile.css" />

  <body>
    <% if(userType == "trainee" ) { %> <%- include('../partials/traineeSidebar')
    %> <% } %> <% if(userType == "trainer" ) { %> <%-
    include('../partials/sidebar') %> <% } %>

    <section id="content">
      <%- include('../partials/navbar') %>
      <div class="container" style="padding-bottom: 80px">
        <div class="avatar-flip">
          <img
            src="/assets/statistics.jpeg"
            height="150"
            width="150"
            style="cursor: zoom-in"
            id="pic1"
          />
          <img
            src="/assets/statistics.jpeg"
            height="150"
            width="150"
            style="cursor: zoom-in"
            id="pic2"
          />
        </div>
        <!-- <h2>Bar Sela</h2> -->
        <h2>Statistics</h2>
        <div class="btn-group"></div>
        <h4>Scheduled:</h4>
        <canvas id="myChart"></canvas>

        <div
          class="profile-details"
          style="
            width: 350px;
            height: 350px;
            margin-left: 350px;
            margin-top: 50px;
          "
        >
          <h4>preformed vs. canceled: (Month: <%=month%>)</h4>

          <canvas id="myChart2"></canvas>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script>
      let rgbPink = "rgba(255, 99, 132, 0.2)";
      let max = 0;
      let background = [
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(54, 162, 235, 0.2)",
      ];
      let monthc = "<%=month%>";
      let month = parseInt(monthc, 10);
      console.log(month);
      background[month - 1] = rgbPink;

      let scheduledDataNum = [];
      let canceledDataNum = [];
      let preformedDataNum = [];
      let i = 0;
      ("<% scheduledList.forEach(s => { %>");
      scheduledDataNum.push(parseInt("<%= s %>"));
      if (scheduledDataNum[i] > max) {
        max = scheduledDataNum[i];
      }
      i++;
      ("<% }); %>");
      max += 5;
      ("<% canceledList.forEach(s => { %>");
      canceledDataNum.push(parseInt("<%= s %>"));
      ("<% }); %>");
      ("<% preformedList.forEach(s => { %>");
      preformedDataNum.push(parseInt("<%= s %>"));
      ("<% }); %>");

      let monthListData = [canceledDataNum[month], preformedDataNum[month]];
      console.log(monthListData);

      const ctx = document.getElementById("myChart").getContext("2d");
      const ctx2 = document.getElementById("myChart2").getContext("2d");

      const myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ],
          datasets: [
            {
              label: "All YEAR",
              data: scheduledDataNum,
              backgroundColor: background,
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: "Month",
                },
              },
            ],
            yAxes: [
              {
                display: true,
                ticks: {
                  beginAtZero: true,
                  steps: 10,
                  stepValue: 5,
                  max: max,
                },
                scaleLabel: {
                  display: true,
                  labelString: "Scheduled",
                },
              },
            ],
          },
        },
      });
      const myChart2 = new Chart(ctx2, {
        type: "doughnut",
        data: {
          labels: ["Canceled", "Preformed"],
          datasets: [
            {
              label: "# of Votes",
              data: monthListData,
              backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)"],
              hoverOffset: 4,
            },
          ],
        },
      });
    </script>
  </body>
</html>
