<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/css/style_Dashboard.css">
	<title>AdminSite</title>
</head>
<body>
	
  <%- include('../partials/sidebar') %>
  <section id="content">
    <%- include('../partials/navbar') %>
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="homePage">Home</a></li>
				<li class="divider">/</li>
				<li><a href="/trainerDashboard" class="active">Dashboard</a></li>
			</ul>
			<div class="info-data">
          <div class="card">
            <div class="head">
              <div>
                <h2>1500</h2>
                <p>Traffic</p>
              </div>
              <i class='bx bx-trending-up icon' ></i>
            </div>
            <span class="progress" data-value="40%"></span>
            <span class="label">40%</span>
          </div>
          <div class="card">
            <div class="head">
              <div>
                <h2>234</h2>
                <p>Visitors</p>
              </div>
              <i class='bx bx-trending-down icon down' ></i>
            </div>
            <span class="progress" data-value="60%"></span>
            <span class="label">60%</span>
          </div>
          <div class="card">
            <div class="head">
              <div>
                <h2>465</h2>
                <p>new clients</p>
              </div>
              <i class='bx bx-trending-up icon' ></i>
            </div>
            <span class="progress" data-value="30%"></span>
            <span class="label">30%</span>
          </div>
          <div class="card">
            <div class="head">
              <div>
                <h2>235</h2>
                <p>Booking</p>
              </div>
              <i class='bx bx-trending-up icon' ></i>
            </div>
            <span class="progress" data-value="80%"></span>
            <span class="label">80%</span>
          </div>
        </div>
        <div class="data">
          <div class="content-data">
            <div class="head">
              <h3>Business Report</h3>
              <div class="menu">
                <i class='bx bx-dots-horizontal-rounded icon'></i>
                <ul class="menu-link">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Save</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
            <div class="chart">
              <div id="chart"></div>
            </div>
          </div>
          <div class="content-data">
            <div class="head">
              <h3>upcoming training</h3>
              <div class="menu">
                <i class='bx bx-dots-horizontal-rounded icon'></i>
                <ul class="menu-link">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Save</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
            <% if(typeof user != "undefined" ) { %>

              
              <div class="trainer-profile">
                    <div class="trainer-info">
                      
                      <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Training Type:</strong> &nbsp; <%= user.trainings[0].trainingType %></li>
                        <li class="list-item"><strong class="text-dark">Date:</strong> &nbsp; <%= user.trainings[0].trainingDate %></li>
                        <li class="list-item"><strong class="text-dark">Start Hour:</strong> &nbsp; <%= user.trainings[0].startHour %></li>
                        <li class="list-item"><strong class="text-dark">Duration:</strong> &nbsp; <%= user.trainings[0].duration %></li>
                        <li class="list-item"><strong class="text-dark">Price:</strong> &nbsp; <%= user.trainings[0].price %></li>

                        
                       
                      </ul>
                  <!-- <button class="btn">Book </button> -->
                </div>
              </div>
              
              <% } %> 
            <div class="chat-box">
              
          </div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
</section>
<script>
  // PROGRESSBAR
const allProgress = document.querySelectorAll('main .card .progress');

allProgress.forEach(item=> {
item.style.setProperty('--value', item.dataset.value)
})






// APEXCHART
var options = {
series: [{
name: 'series1',
data: [31, 40, 28, 51, 42, 109, 100]
}, {
name: 'series2',
data: [11, 32, 45, 32, 34, 52, 41]
}],
chart: {
height: 350,
type: 'area'
},
dataLabels: {
enabled: false
},
stroke: {
curve: 'smooth'
},
xaxis: {
type: 'datetime',
categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
},
tooltip: {
x: {
  format: 'dd/MM/yy HH:mm'
},
},
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();
</script>
</body>
</html>