<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="icon" href="/assets/statistics.jpeg" type="image/png" />


	<link rel="stylesheet" href="/css/style_Dashboard.css">
  <title>Shape</title>
  <link rel="icon" href="/assets/shape-tab-icon.png" type="image/png" />
</head>
<body>
	
  <%- include('../partials/sidebar') %>
  <section id="content">
    <%- include('../partials/navbar') %>
		<main>
			<h1 class="title">Hello <%= user.fullName %></h1>
			<ul class="breadcrumbs">
				<li><a href="homePage">Home</a></li>
				<li class="divider">/</li>
				<li><a href="/trainerDashboard" class="active">Dashboard</a></li>
			</ul>
			<div class="info-data">
          <div class="card">
            <div class="wrapper">
              <img src="/assets/statistics.jpeg" style="width: 500px;"/>

              <div class="head">
                <h3  style="margin-top: 20px;">Show your training statistics for the past year</h3>
              </div>
              <form  id="myForm" action="/statistics" method="POST">
                <div  id="statistic-container">
                  <select  class="w3-input w3-border w3-light-grey  input-box" class="filter" id="month" name="month">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <!-- <select class="w3-input w3-border w3-light-grey  input-box" class="filter" id="info" name="info">
                    <option value="scheduled">Scheduled trainings</option>
                    <option value="canceled">Canceled trainings</option>
                    <option value="preformed">Performed trainings</option>
                  </select> -->
                  <button class="w3-btn w3-blue w3-round-xlarge" type="submit" id="show" class="btn btn-soft-primary">Show</button>

                  <h3>note: </h3>
                  <ul >
                    <li><a ><a>Scheduled trainings - <br> All scheduled trainings. Whether they preformed or were canceled </a></li><br>
                    <li><a >Canceled trainings -<br>All scheduled trainings that were canceled by you</a></li><br>
                    <li><a >Performed trainings -<br>All scheduled trainings that preformed as usual</a></li>
                  </ul>

                </div>
              </form>
            </div>
          </div>
          <div class="content-data">
            <div class="head">
              <h3>upcoming training</h3>
            </div>
            <% if(typeof user != "undefined" ) { %>
              <% if(typeof user.trainings != "undefined" ) { %>
                <% user.trainings.forEach(t => { %>
  
              <div class="trainer-profile">
                    <div class="trainer-info">
                      <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Training Type:</strong> &nbsp; <%= t.trainingType %></li>
                        <li class="list-item"><strong class="text-dark">Date:</strong> &nbsp; <%= t.trainingDate %></li>
                        <li class="list-item"><strong class="text-dark">Start Hour:</strong> &nbsp; <%= t.startHour %></li>
                        <li class="list-item"><strong class="text-dark">Duration:</strong> &nbsp; <%= t.duration %></li>
                        <li class="list-item"><strong class="text-dark">Price:</strong> &nbsp; <%= t.price %></li>
                      </ul>
                </div>
              </div>
              <% }); %>
              <% } %> 
              <% } %> 
            <div class="chat-box">
              
          </div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
</section>
<script>
  // PROGRESSBAR
const allProgress = document.querySelectorAll('main .card .progress');

allProgress.forEach(item=> {
item.style.setProperty('--value', item.dataset.value)
})






// APEXCHART
var options = {
series: [{
name: 'series1',
data: [31, 40, 28, 51, 42, 109, 100]
}, {
name: 'series2',
data: [11, 32, 45, 32, 34, 52, 41]
}],
chart: {
height: 350,
type: 'area'
},
dataLabels: {
enabled: false
},
stroke: {
curve: 'smooth'
},
xaxis: {
type: 'datetime',
categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
},
tooltip: {
x: {
  format: 'dd/MM/yy HH:mm'
},
},
};

//var chart = new ApexCharts(document.querySelector("#chart"), options);
//chart.render();
</script>
</body>
</html>