<!DOCTYPE html>
<html lang='en'>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='utf-8' />
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli:300,400,600,800,900' />
  <link href='/main.css' rel='stylesheet' />
  <script src='/main.js'></script>
  <script>

    // Loading the calendar
    document.addEventListener('DOMContentLoaded', function () {
      calendarEl = document.getElementById('calendar');
      calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        aspectRatio: 1.5,
        height: 800,
        selectable: false,
        headerToolbar: {

          left: 'today',
          center: 'prev,title,next',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'

        },

        eventClick: function (info) {

          info.el.addEventListener("click", function () {


            if (info.event.title == "unavailable") {
              alert("<%= trainer.fullName %>" + " is not available at this time");
            }
            else {
              let form = document.getElementById("newTrainingForm");
              if (info.event.extendedProps.available == "true") {
                
                document.getElementById("trainingID").value = info.event.id;
                
                document.getElementById("type").value = info.event.title;

                document.getElementById("date").valueAsDate = info.event.start;

                document.getElementById("start").value = info.event.extendedProps.startHour;
                
                document.getElementById("duration").value = "Duration: " + info.event.extendedProps.duration;
                document.getElementById("durValue").value = parseInt(info.event.extendedProps.duration);

                document.getElementById("price").value = "Price: " + info.event.extendedProps.price + " ₪";
                document.getElementById("priceValue").value = parseInt(info.event.extendedProps.price);

                document.getElementById("cover").style.display = "block";;
              
                form.style.left = info.jsEvent.pageX + 'px';
                form.style.top = info.jsEvent.pageY + 'px';


              }
              else{
                alert( "This training is not available at this time");
              }
              
            }

          }
          )
        }


      });
      "<% trainer.trainings.forEach(t => { %>"
      type = "<%= t.trainingType %>"
      dateStr = "<%= t.trainingDate %>"
      time = "<%= t.startHour %>"
      duration = "<%= t.duration %>"
      price = "<%= t.price %>"
      id = "<%= t._id %>"
      available = "<%= t.available %>"
      date = new Date(dateStr + 'T' + time); // will be in local time
      endTime = calculateEndTime(time, parseInt(duration));
      console.log(endTime);
      endDate = new Date(dateStr + 'T' + endTime);

      calendar.addEvent({
        id: id,
        title: type,
        start: date,
        end: endDate,
        allDay: false,
        extendedProps: {
          startHour: time,
          duration: duration,
          price: price,
          available: available
        }
      });
      
      "<% }); %>"
      //UNAVALIABLE
      "<% trainer.unAvailable.forEach(u => { %>"
      uID = "<%= u._id %>"
      uDate = "<%= u.date %>"
      uStart = ""
      uEnd = "";
      allDay = "<%= u.allDay %>"
      
      date = new Date(uDate); // will be in local time
      if (allDay == "false") {
        uStart = "<%= u.startHour %>"
        uEnd = "<%= u.endHour %>"
        date = new Date(uDate + 'T' + uStart); // will be in local time
        calendar.addEvent({
          id: uID,
          title: "unavailable",
          start: date,
          end: date,
          allDay: false,
          extendedProps: {
            startHour: uStart,
            endHour: uEnd
          },

        });
      }
      else {//allDay = true
        calendar.addEvent({
          id: uID,
          title: "unavailable",
          start: date,
          end: date,
          allDay: true,
          display: 'background'
        });
      }

      "<% }); %>"
      function calculateEndTime(start, duration) {
        let hour = parseInt(start.slice(0, 2));
        let minutes = parseInt(start.slice(3));
        let hourToAdd = 0;
        let minutesToAdd = 0;
        console.log("duration = " + duration);

        if (duration >= 60) {
          hourToAdd = parseInt(duration / 60);
          minutesToAdd = duration % 60;

        }
        else {
          minutesToAdd = duration;
          if (minutesToAdd + minutes >= 60) {
            hourToAdd++;
            minutesToAdd = (minutesToAdd + minutes) - 60;
            minutes = 0;

          }
        }
        if (hour + hourToAdd <= 23) {
          hour += hourToAdd;
        }
        else {
          hour = (hour + hourToAdd) % 24;
        }
        if (minutes + minutesToAdd <= 60) {
          minutes += minutesToAdd;


        }
        else {
          hour++;
          minutes = minutes + minutesToAdd - 60;
        }
        minStr = minutes.toString();
        if (minStr.length > 2) {
          len = minStr.length;
          minStr.slice(0, len);

        }
        return hour.toString() + ":" + minStr;
      }
      calendar.render();

    });
  </script>
</head>

<body>


  <%- include('../partials/navbar') %>

    <%- include('../partials/traineeSidebar') %>
      <main>
        <div class="calendar-container">
          <div id='calendar'></div>
        </div>

        <div id="cover" style="display: none;">
          <div class="modal fade show" id="addEventToCalendarModal" tabindex="-1" role="dialog"
            style=" padding-top: 100px; display: block;" aria-modal="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <!-- Header -->
                <div class="modal-close">
                  <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                    aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                  </button>
                </div>
                <!-- End Header -->

                <!-- Body -->
                <div class="modal-body">
                  <div class="media">
                    <textarea id="eventTitleLabel" class="form-control form-control-title"
                      placeholder="REGISTRATION FOR TRAINING" style="height: 47px; margin-top: 0px; margin-bottom: 0px;"
                      readonly></textarea>
                  </div>
                  <form class="form-container" action="/TrainingReg" method="POST">
                    <input id="trainerEmail" name="trainerEmail" value="<%= trainer.email %>" style="display: none;" />
                    <input id="trainingID" name="trainingID"  style="display: none;" />
                    <!-- End Media -->
                    <div class="row form-group">
                      <div class="col-sm-3 mb-2 mb-sm-0">
                        <div class="media align-items-center mt-2">
                          <i class="tio-poi nav-icon"></i>
                          <div class="media-body">Trainer Name</div>
                        </div>
                      </div>

                      <div class="col-sm">
                        <label for="eventLocationLabel" class="sr-only"></label>

                        <input type="text" class="form-control" id="eventLocationLabel"  placeholder="<%= trainer.fullName %>"
                          readonly>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-sm-3 mb-2 mb-sm-0">
                        <div class="media align-items-center mt-2">
                          <i class="tio-poi nav-icon"></i>
                          <div class="media-body">Training Type</div>
                        </div>
                      </div>

                      <div class="col-sm">
                        <label for="eventLocationLabel" class="sr-only"></label>

                        <input type="text" class="form-control" id=type name="type" placeholder=""
                          readonly>
                      </div>
                    </div>
                    <!-- End Row -->
                    <div class="row form-group">
                      <div class="col-sm-3 mb-2 mb-sm-0">
                        <div class="media align-items-center mt-2">
                          <i class="tio-event nav-icon"></i>

                          <div class="media-body">Date</div>
                        </div>
                      </div>

                      <div class="col-sm">
                        <label for="eventDateRangeLabel" class="sr-only">Date</label>
                        <input id="date" name="date" type="date" style="width: 0px;"
                          class="js-flatpickr form-control flatpickr-custom mb-2 flatpickr-input" readonly />

                      </div>
                      <div class="col-sm">
                        <label for="eventDateRangeLabel" class="sr-only">Start Hour</label>
                        <input id="start" name="start" type="time" style="width: 0px;"
                          class="js-flatpickr form-control flatpickr-custom mb-2 flatpickr-input" readonly />

                      </div>
                    </div>

                    <!-- End Row -->
                    <div class="row form-group">
                      <div class="col-sm-3 mb-2 mb-sm-0">
                        <div class="media align-items-center mt-2">
                          <i class="tio-event nav-icon"></i>

                          <div class="media-body">Training details</div>
                        </div>
                      </div>

                      <div class="col-sm">
                        <label for="eventDateRangeLabel" class="sr-only">Duration</label>
                        <input type="number"  name="durValue" id="durValue" style="display: none;">
                        <input id="duration" name="duration" type="text" style="width: 0px;"
                          class="js-flatpickr form-control flatpickr-custom mb-2 flatpickr-input"
                          placeholder="Duration: " readonly />
                      </div>
                      <div class="col-sm">
                        <input type="number" name="priceValue" id="priceValue" style="display: none;">
                        <label for="eventDateRangeLabel" class="sr-only">Price</label>
                        <input id="price" name="price" type="text" style="width: 0px;"
                          class="js-flatpickr form-control flatpickr-custom mb-2 flatpickr-input" placeholder="Price: "
                          readonly />
                      </div>
                    </div>

             
                </div>
                <!-- button group  -->
                <div class="modal-footer">
                  <button type="button" id="closePopover" class="btn btn-white" onclick="closeForm()">Close</button>
                  <button type="submit" id="reg-btn" class="btn btn-primary">Registration</button>
                </div>

                  
              
                </form>
              </div>
            </div>
          </div>
        </div>








     

      </main>
      <script>
        function openForm() {
          document.getElementById("cover").style.display = "block";

        }

        function closeForm() {
          document.getElementById("cover").style.display = "none";

        }


      </script>
</body>

</html>

